<div class="dashboard-layout">
  <!-- Основная часть -->
  <main class="dashboard-content">
    <h2 class="section-title">🎞️ Popular Movies</h2>
    <div *ngIf="isLoading" class="spinner-overlay">
      <div class="spinner"></div>
      <div>Loading the page...</div>
    </div>
    <div *ngIf="error && !isLoading" class="error-message">
      {{ error }}
    </div>
    <div *ngIf="!isLoading && !error" class="movies-grid">
      <app-movie-card
        *ngFor="let movie of movies"
        [movie]="movie"
      ></app-movie-card>
    </div>
    <div class="pagination-wrapper">
      <app-pagination
        [currentPage]="currentPage"
        [totalPages]="totalPages"
        (pageChange)="onPageChange($event)"
      ></app-pagination>
    </div>
  </main>
</div>
