.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  background-color: var(--tui-base-02);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--tui-text-01);
}

.search {
  flex: 1;
  max-width: 400px;
  margin: 0 2rem;
}

.user {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
